{% extends 'navigation.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Random</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    {% block content %}
    <!-- gallery -->
    <h1 id="random-gallery">just a random gallery.<hr></h1>
    <div class="container">
        <div class="gal row">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/1.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/2.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/3.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/4.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/5.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/6.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/7.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/8.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/9.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/10.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/11.jpg' %}" alt="photo">
            <img class="col-lg-3 col-md-3 col-sm-4 col-4" src="{% static 'images/12.jpg' %}" alt="photo">
        </div>
    </div>
    {% endblock %}
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>