@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
	
html {
	scroll-behavior: smooth;
}
body {
    padding: 0;
  	margin: 0;
	background-color: #222222;
	height: 100%;
}
.navbar {
  	background: #FF5757;
}
.nav-link {
	color: #fff;
	margin-right: 5px;
	margin-left: 5px;
    font-family: 'Muli';
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-link:hover {
  	color: #000;
}
.navbar-collapse {
	justify-content: flex-end;
	margin-right: 4vw;  
}
#home {
	background-color: #FF5757;
	text-align: center;
	padding-top: 5vw;
	padding-bottom: 18vw;
}
#home-line {
	width: 40vw;
	border-width: 0.2vw;
	background-color: #000;
}
#hello {
	color: #000;
	font-family: 'Open Sans';
	font-size: 5.6rem;
	font-weight: bold;
}
.intro {
	color: #000;
	font-family: 'Muli';
	font-size: 2rem;
	font-weight: bold;
}
#about {
	margin-top: 10vw;
	margin-bottom: 10vw;
}
.content {
	padding-top: 10%;
	padding-bottom: 7%;
	margin-right: 20%;
	margin-left: 20%;
	flex-direction: row;
	z-index: 2;
}
.content:before, 
.content:after { 
	content: ""; 
	flex: 1 1; 
	border: 0.34vw solid #FF5757; 
	margin-top: 2%; 
	position: absolute;
	width: 150%;
	z-index: -3;
}
#desc {
	color: #fff;
	font-family: 'Karla';
	font-size: 2rem;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
}
.about-me {
	font-style: italic;
	font-family: 'Roboto';
	text-align: right;
	font-weight: bold;
	font-size: 2.5rem;
}
.more {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 1.7rem;
}
a.click {
	text-decoration: none;
}
#photo {
	position: relative;
	top: 7vw;
	z-index: 3;
	width: 18%; 
	height: 18%;
}
#education {
	margin-bottom: 10vw;
}
.education {
	padding-bottom: 5vw;
}
.ed-year {
	background-color: #FF5757;
	border-bottom-right-radius: 90px;
	border-top-right-radius: 90px;
	margin-top: 5%;
	margin-bottom: 1%;
	width: 30%;
}
.year {
	text-align: left;
	color: #fff;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 1.8rem;
	padding-top: 3%;
	padding-left: 10%;
}
#edu {
	color: #fff;
	font-style: italic;
	font-family: 'Roboto';
	margin-left: 10%;
}
#ed-line {
	width: 19vw;
	left: 35vw;
	position: relative;
	z-index: 3;
	border: 4px solid #FF5757;
	margin-left: 20%;
}
#experiences {
	margin-bottom: 12vw;
}
.experiences {
	padding-bottom: 5vw;
}
#ex-line {
	width: 19vw;
	right: 17vw;
	position: relative;
	z-index: 3;
	border: 4px solid #FF5757;
	margin-left: 20%;
}
#ex {
	color: #fff;
	font-style: italic;
	font-family: 'Roboto';
	text-align: right;
	margin-right: 10%;
}
.ex-year {
	margin-left: auto;
	background-color: #FF5757;
	border-top-left-radius: 90px;
	border-bottom-left-radius: 90px;
	margin-top: 5%;
	margin-bottom: 1%;
	width: 30%;
}
.ex1,
.ex2 {
	text-align: right;
	padding-top: 2%;
}
#contact {
	margin-bottom: 10vw;
}
#contact-me {
	font-size: 1.5rem;
	font-family: 'Muli';
	padding-bottom: 5%;
}
.contact-me {
	font-style: italic;
	font-family: 'Roboto';
	text-align: right;
	font-weight: bold;
	font-size: 2.5rem;
	margin-top: 5%;
}
.lets {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 1.7rem;
	margin-bottom: 6%;
}
#random-gallery {
	text-align: center;
	padding-top: 11%;
	padding-bottom: 1%;
	margin-bottom: 3%;
	color: #fff;
}
#random-gallery hr {
	width: 50vw;
	border: 2px solid #FF5757;
}
.gal img{
	padding-bottom: 15px;
	padding-top: 15px;
	background: #fff;
}
.link-gal:hover {
	color: #FF5757;
}

@media (max-width: 800px) {
	#hello {
		color: #000;
		font-family: 'Open Sans';
		font-size: 3rem;
		font-weight: bold;
	}
	.intro {
		color: #000;
		font-family: 'Muli';
		font-size: 0.9rem;
		font-weight: bold;
	}

	#desc {
		font-size: 0.9rem;
		padding-right: 0%;
		padding-left: 0%;
	}
	.content:before,
	.content:after {
		display: none;
	}
	.about-me, .contact-me {
		font-size: 1.2rem;
		text-align: center;
	}
	.more, .lets {
		font-size: 0.8rem;
		text-align: center;
	}
	#photo {
		margin-bottom: 10%;
		width: 30%;
		height: 30%;
	}
	.year {
		font-size: 1rem;
	}
	.ed-year, .ex-year {
		width: 70%;
	}
	.school, .ex1 h1, .ex2 h1 {
		font-size: 1.2rem;
	}
	.fac, .ex1 h5, .ex2 h5 {
		font-size: small;
	}
	#edu {
		font-size: 1.1rem;
		margin-top: 12%;
	}
	#ex {
		font-size: 0.9rem;
		margin-top: 16%;
	}
	#ex-line {
		right:19vw;
	}
	#contact-me {
		font-size: 1rem;
	}
	.socmed img {
		width: 8%;
		height: 8%;
	}
	#random-gallery {
		font-size: 1.5rem;
		padding-top: 25%;
	}
}